[agent]
  interval = "{{ environ('TELEGRAF_AGENT_INTERVAL_SECONDS') }}s"
  round_interval = true
  flush_interval =  "{{ environ('TELEGRAF_AGENT_FLUSH_INTERVAL') }}"
  flush_jitter =  "{{ environ('TELEGRAF_AGENT_FLUSH_JITTER') }}"
  debug = {{ environ('TELEGRAF_AGENT_DEBUG') }}
  hostname = "{{ environ('TELEGRAF_AGENT_HOSTNAME') }}"
  metric_batch_size = {{ environ('TELEGRAF_AGENT_METRIC_BATCH_SIZE') }}
  metric_buffer_limit = {{ environ('TELEGRAF_AGENT_METRIC_BUFFER_LIMIT') }}
  collection_jitter = "{{ environ('TELEGRAF_AGENT_COLLECTION_JITTER') }}"

# Netflow listener
[[inputs.netflow]]
  ## Address and port to host Netflow listener on
  service_address = ":2055"
  ## Number of Netflow messages allowed to queue up. Once filled, the
  ## Netflow listener will start dropping packets.
  allowed_pending_messages = 10000

  resolve_application_name_by_id = true
  resolve_ifname_by_ifindex = true
    
[[outputs.influxdb]]

  urls = ["http://{{ environ('INFLUXDB_ADDRESS') }}:{{ environ('INFLUXDB_PORT') }}"]
  database = "{{ environ('INFLUXDB_DB_NAME') }}"
  precision = "s"
  retention_policy = ""
  timeout = "{{ environ('INFLUXDB_DB_TIMEOUT') }}"
  username = "{{ environ('INFLUXDB_DB_USER') }}"
  password = "{{ environ('INFLUXDB_DB_PASSWD') }}"
